<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <style>
        html {
            height: 100%;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 100%;
            background: linear-gradient(135deg, #428bca, #00ffd5);
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .header {
            padding: 20px;
            color: #fff;
            text-align: center;
        }

        .header h1 {
            color: #fff;
            text-align: center;
            margin: 20px 0;
        }

        .container {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .container button {
            display: block;
            margin: 10px auto;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            background-color: #428bca;
            color: #fff;
            border: none;
            cursor: pointer;
        }


        a {
            display: block;
            text-align: center;
            color: #428bca;
            text-decoration: none;
            margin-top: 20px;
        }

        .confirmation-popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            text-align: center;
            font-size: 16px;
        }

        /* .confirmation-popup h2 {
            margin-top: 0;
        } */

        .confirmation-popup button {
            padding: 10px 20px;
            margin-top: 20px;
            font-size: 16px;
            border-radius: 5px;
            background-color: #428bca;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        .playersScoredContainer {
            display: flex;
            flex-direction: row;
        }

        .playersAssistContainer {
            display: flex;
            flex-direction: row;
        }

        .player-input {
            text-align: left;
        }


        .player-input-row {
            display: flex;
            align-items: center;
            margin-top: 0px;
        }

        .player-input-row select {
            flex: 1;
            margin-right: 10px;
            margin-top: 20px;
        }

        .confirmation-popup .remove-player-button {
            background-color: #e74c3c;
            color: #fff;
            border: none;
            padding: 0px 10px;
            border-radius: 3px;
            cursor: pointer;
        }

        .confirmation-popup .add-player-button {
            background-color: #2ecc71;
            color: #fff;
            border: none;
            padding: 0px 10px;
            border-radius: 3px;
            cursor: pointer;
        }

        .button-container {
            margin-top: 0px;
        }

        .button-container button {
            margin-right: 0px;
        }

    </style>
</head>
<body>
    <div class="header">
        <h1>Fantasy Leisure Leagues</h1>
    </div>
    <div class="container">
        <h1>Admin Panel</h1>
        <button onclick="showDeadlineConfirmationPopup()">Pass Deadline</button>
        <button onclick="showResultsConfirmationPopup()">Add Results</button>
        <button onclick="showInjuryPopup()">Add injury</button>
        <a href="/team_management/{{ team_name }}">Back to Home</a>
    </div>

    <div id="deadlineConfirmationPopup" class="confirmation-popup">
        <h2>Confirm Pass Deadline</h2>
        <p>Are you sure you want to pass the Gameweek {{ next_gw }} deadline?</p>
        <button onclick="passDeadline()">Yes</button>
        <button onclick="hideDeadlineConfirmationPopup()">Cancel</button>
    </div>


    <div id="resultsConfirmationPopup" class="confirmation-popup">
        <h2>Add Results</h2>
        <!-- <form id="resultsForm" method="POST" action="/add_next_results"> -->
          <p id="resultsQuestion">What was the score?</p>
          <div class="score-input-container">
            <select id="homeGoalsInput" name="homeGoals">
              <option value="" disabled selected>Home Goals</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>

            </select>
            <span class="versus">-</span>
            <select id="awayGoalsInput" name="awayGoals">
              <option value="" disabled selected>Away Goals</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
            </select>
          </div>
          <div id="playerInputsContainer">
            <div class="player-input-row">
              <select id="playerInput1" name="players[]" onchange="handlePlayerChange(this)">
                <option value="" disabled selected>Select player</option>
                <option value="Dan">Dan</option>
                <option value="Zeki">Zeki</option>
                <option value="Liam Mc">Liam Mc</option>
                <option value="Joe">Joe</option>
                <option value="Alfie">Alfie</option>
                <option value="Tom">Tom</option>
                <option value="Saajan">Saajan</option>
                <option value="Jake">Jake</option>
                <option value="Mepsted">Mepsted</option>
                <option value="Liam T">Liam T</option>
                <option value="Rarnott">Rarnott</option>
                <option value="Rhys">Rhys</option>
                <option value="Charlie">Charlie</option>
                <option value="Nathan">Nathan</option>
                <option value="Jay">Jay</option>
                <option value="Henry">Henry</option>
                <option value="Meadows">Meadows</option>
                <option value="Cam">Cam</option>
                <option value="Toby">Toby</option>
                <option value="Luke S">Luke S</option>
              </select>
              <div class="button-container">
                <button type="button" class="add-player-button" onclick="addPlayerInput()">+</button>
              </div>
            </div>
          </div>
          <div class="saves-input-container">
            <select id="savesInput" name="saves">
              <option value="" disabled selected>Number of Saves</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <div style="display: flex;">
            <div class="playersScoredContainer" style="margin-right: 10px ;">
              <div id="playersScoredInputs"></div>
            </div>
          
            <div class="playersAssistContainer" style="margin-bottom: 5px;">
              <div id="playersAssistInputs"></div>
            </div>
          </div>

          <div class="onBenchContainer" style="margin-bottom: 5px;">
            <div id="onBenchInputs"></div>
          </div>
          
          <div class="savesContainer" style="display: none;">
            <div id="savesInputs"></div>
          </div>

          <div class="yellowCardsContainer" style="display: none;">
            <div class="yellowCardsInputs"></div>
            <div class="yellowCardsInputs"></div>
            <div class="yellowCardsInputs"></div>
            <div class="yellowCardsInputs"></div>
            <div class="yellowCardsInputs"></div>
        </div>

          <div class="redCardsContainer" style="display: none;">
            <div class="redCardsInputs"></div>
            <div class="redCardsInputs"></div>
            <div class="redCardsInputs"></div>
            <div class="redCardsInputs"></div>
            <div class="redCardsInputs"></div>
          </div>

          <div class="penaltySavedContainer" style="display: none;">
            <div class="penaltySavedInputs"></div>
            <div class="penaltySavedInputs"></div>
            <div class="penaltySavedInputs"></div>
            <div class="penaltySavedInputs"></div>
            <div class="penaltySavedInputs"></div>
          </div>

          <div class="penaltyMissedContainer" style="display: none;">
            <div class="penaltyMissedInputs"></div>
            <div class="penaltyMissedInputs"></div>
            <div class="penaltyMissedInputs"></div>
            <div class="penaltyMissedInputs"></div>
            <div class="penaltyMissedInputs"></div>
          </div>

          <div class="ownGoalsContainer" style="display: none;">
            <div class="ownGoalsInputs"></div>
            <div class="ownGoalsInputs"></div>
            <div class="ownGoalsInputs"></div>
            <div class="ownGoalsInputs"></div>
            <div class="ownGoalsInputs"></div>
          </div>

          <div class="bonusContainer" style="display: none;">
            <div id="bonusInputs"></div>
          </div>

          <button type="submit" onclick="addResults()" id="submitButton" style="display: none">Submit</button>
          <button type="button" id= "nextButton" onclick="nextQuestion()">Next</button>
        </form>
    </div>

    <div id="injuryPopup" class="confirmation-popup">
        <h2>Add Injuries</h2>
        <select id="playerInput5" name="players">
            <option value="" disabled selected>Select player</option>
            <option value="Dan">Dan</option>
                <option value="Zeki">Zeki</option>
                <option value="Liam Mc">Liam Mc</option>
                <option value="Joe">Joe</option>
                <option value="Alfie">Alfie</option>
                <option value="Tom">Tom</option>
                <option value="Saajan">Saajan</option>
                <option value="Jake">Jake</option>
                <option value="Mepsted">Mepsted</option>
                <option value="Liam T">Liam T</option>
                <option value="Rarnott">Rarnott</option>
                <option value="Rhys">Rhys</option>
                <option value="Charlie">Charlie</option>
                <option value="Nathan">Nathan</option>
                <option value="Jay">Jay</option>
                <option value="Henry">Henry</option>
                <option value="Meadows">Meadows</option>
                <option value="Cam">Cam</option>
                <option value="Toby">Toby</option>
                <option value="Luke S">Luke S</option>
        </select>
        <br><br>

        <label for="injury_colour">Injury Colour:</label>
        <select id="injury_colour">
            <option value="" disabled selected>Select Colour</option>
            <option value="none">none</option>
            <option value="Red">Red</option>
            <option value="Yellow">Yellow</option>
        </select>
        <br><br>

        <label for="injury_type">Injury Type:</label>
        <input type="text" id="injury_type">
        <br><br>

        <label for="return_date">Return Date:</label>
        <input type="text" id="return_date">
        <br><br>

        <button onclick="addInjuries()">Submit</button>
    </div>
    

    <script>
        var currentQuestionIndex = 0;
        var questions = [
            "What was the score?",
            "Team Lineup",
            "Players Scored",
            "Who was on the bench for each goal",
            "How many saves were made?",
            "Did anyone get a yellow card?",
            "Did anyone get a red card?",
            "Did anyone score an own goal?",
            "Bonus Points", 
        ];
        var playerInputCount = 1;
        var homeGoals = 0;
        var awayGoals = 0;

        function showDeadlineConfirmationPopup() {
            var confirmationPopup = document.getElementById("deadlineConfirmationPopup");
            confirmationPopup.style.display = "block";
        }

        function hideDeadlineConfirmationPopup() {
            var confirmationPopup = document.getElementById("deadlineConfirmationPopup");
            confirmationPopup.style.display = "none";
        }

        function passDeadline() {
            hideDeadlineConfirmationPopup();
            var form = document.createElement("form");
            form.method = "POST";
            form.action = "/pass_next_deadline?teamName={{ team_name }}&nextGW={{ next_gw }}";

            var button = document.createElement("button");
            button.type = "submit";
            button.textContent = "Add";

            form.appendChild(button);
            document.body.appendChild(form);
            form.submit();
        }


        function addResults() {
            
            var home_score = parseInt(document.getElementById("homeGoalsInput").value);
            var away_score = parseInt(document.getElementById("awayGoalsInput").value);
            var score = home_score.toString() + '-' + away_score.toString();
            var team = [];
            var goalScorers = [];
            var assists = [];
            var onBench = {};
            var saves = parseInt(document.getElementById("savesInput").value);
            var penalty_saved = [];
            var penalty_missed = [];
            var yellow_cards = [];
            var red_cards = [];
            var own_goals = [];
            var bonuses = [];
            
            var playerInputs = document.querySelectorAll("select[name='players[]']");
            for (var i = 0; i < playerInputs.length; i++) {
                var playerInput = playerInputs[i];
                if (playerInput.value !== "") {
                    team.push(playerInput.value);
                }
            }
            
            var scoredInputs = document.querySelectorAll("select[name='playersScored[]']");
            for (var i = 0; i < scoredInputs.length; i++) {
                var scoredInput = scoredInputs[i];
                if (scoredInput.value !== "") {
                    goalScorers.push(scoredInput.value);
                }
            }
            
            var assistInputs = document.querySelectorAll("select[name='playersAssist[]']");
            for (var i = 0; i < assistInputs.length; i++) {
                var assistInput = assistInputs[i];
                if (assistInput.value !== "") {
                    assists.push(assistInput.value);
                }
            }

            var onBench = {}
            for (var goal in onBenchData) {
                onBench[goal] = []; // Initialize an empty array for each goal
                onBenchData[goal].forEach(function(dropdown) {
                    if (dropdown.value && dropdown.value !== "none") {
                        onBench[goal].push(dropdown.value);
                    }
                });
            }

            var penaltySavedInputs = document.querySelectorAll("select[name='penaltySaved[]']");
            for (var i = 0; i < penaltySavedInputs.length; i++) {
                console.log("Checking dropdown ", i); // Add this
                var penaltySavedInput = penaltySavedInputs[i];
                if (penaltySavedInput.value !== "") {
                    penalty_saved.push(penaltySavedInput.value);
                }
            }

            var penaltyMissedInputs = document.querySelectorAll("select[name='penaltyMissed[]']");
            for (var i = 0; i < penaltyMissedInputs.length; i++) {
                console.log("Checking dropdown ", i); // Add this
                var penaltyMissedInput = penaltyMissedInputs[i];
                if (penaltyMissedInput.value !== "") {
                    penalty_missed.push(penaltyMissedInput.value);
                }
            }

            var yellowCardsInputs = document.querySelectorAll("select[name='yellowCards[]']");
            for (var i = 0; i < yellowCardsInputs.length; i++) {
                console.log("Checking dropdown ", i); // Add this
                var yellowCardsInput = yellowCardsInputs[i];
                if (yellowCardsInput.value !== "") {
                    yellow_cards.push(yellowCardsInput.value);
                }
            }

            var redCardsInputs = document.querySelectorAll("select[name='redCards[]']");
            for (var i = 0; i < redCardsInputs.length; i++) {
                var redCardsInput = redCardsInputs[i];
                if (redCardsInput.value !== "") {
                    red_cards.push(redCardsInput.value);
                }
            }

            var ownGoalsInputs = document.querySelectorAll("select[name='ownGoals[]']");
            for (var i = 0; i < ownGoalsInputs.length; i++) {
                var ownGoalsInput = ownGoalsInputs[i];
                if (ownGoalsInput.value !== "") {
                    own_goals.push(ownGoalsInput.value);
                }
            }
            
            var bonusInputs = document.querySelectorAll("select[name='bonus[]']");
            for (var i = 0; i < bonusInputs.length; i++) {
                var bonusInput = bonusInputs[i];
                if (bonusInput.value !== "") {
                    bonuses.push(bonusInput.value);
                }
            }
            
            var form = document.createElement("form");
            form.method = "POST";
            form.action = "/add_next_results?teamName={{ team_name }}&nextGW={{ next_gw }}";
            
            var scoreInput = document.createElement("input");
            scoreInput.type = "hidden";
            scoreInput.name = "score";
            scoreInput.value = score;
            form.appendChild(scoreInput);
            
            var teamInput = document.createElement("input");
            teamInput.type = "hidden";
            teamInput.name = "team";
            teamInput.value = JSON.stringify(team);
            form.appendChild(teamInput);
            
            var goalScorersInput = document.createElement("input");
            goalScorersInput.type = "hidden";
            goalScorersInput.name = "goalScorers";
            goalScorersInput.value = JSON.stringify(goalScorers);
            form.appendChild(goalScorersInput);
            
            var assistsInput = document.createElement("input");
            assistsInput.type = "hidden";
            assistsInput.name = "assists";
            assistsInput.value = JSON.stringify(assists);
            form.appendChild(assistsInput);

            var onBenchHiddenInput = document.createElement("input");
            onBenchHiddenInput.type = "hidden";
            onBenchHiddenInput.name = "onBench";
            onBenchHiddenInput.value = JSON.stringify(onBench);
            form.appendChild(onBenchHiddenInput);

            var savesInput = document.createElement("input");
            savesInput.type = "hidden";
            savesInput.name = "saves";
            savesInput.value = JSON.stringify(saves);
            form.appendChild(savesInput);

            var penaltySavedInput = document.createElement("input");
            penaltySavedInput.type = "hidden";
            penaltySavedInput.name = "penalty_saved";
            penaltySavedInput.value = JSON.stringify(penalty_saved);
            form.appendChild(penaltySavedInput);

            var penaltyMissedInput = document.createElement("input");
            penaltyMissedInput.type = "hidden";
            penaltyMissedInput.name = "penalty_missed";
            penaltyMissedInput.value = JSON.stringify(penalty_missed);
            form.appendChild(penaltyMissedInput);

            var yellowCardsInput = document.createElement("input");
            yellowCardsInput.type = "hidden";
            yellowCardsInput.name = "yellow_cards";
            yellowCardsInput.value = JSON.stringify(yellow_cards);
            form.appendChild(yellowCardsInput);

            var redCardsInput = document.createElement("input");
            redCardsInput.type = "hidden";
            redCardsInput.name = "red_cards";
            redCardsInput.value = JSON.stringify(red_cards);
            form.appendChild(redCardsInput);

            var ownGoalsInput = document.createElement("input");
            ownGoalsInput.type = "hidden";
            ownGoalsInput.name = "own_goals";
            ownGoalsInput.value = JSON.stringify(own_goals);
            form.appendChild(ownGoalsInput);
            
            var bonusesInput = document.createElement("input");
            bonusesInput.type = "hidden";
            bonusesInput.name = "bonuses";
            bonusesInput.value = JSON.stringify(bonuses);
            form.appendChild(bonusesInput);
            
            var button = document.createElement("button");
            button.type = "submit";
            button.textContent = "Add";
            form.appendChild(button);
            
            document.body.appendChild(form);
            form.submit();
        }

      
        function showResultsConfirmationPopup() {
          var confirmationPopup = document.getElementById("resultsConfirmationPopup");
          confirmationPopup.style.display = "block";
      
          var scoreInputContainer = document.querySelector(".score-input-container");
          scoreInputContainer.style.display = "block";
      
          var playerInputsContainer = document.getElementById("playerInputsContainer");
          playerInputsContainer.style.display = "none"; 

          var savesInputsContainer = document.querySelector(".saves-input-container");
          savesInputsContainer.style.display = "none";

          var onBenchContainer = document.getElementById("onBenchContainer");
          onBenchContainer.style.display = "none"; 
      
          var nextButton = document.getElementById("nextButton");
      
          var submitButton = document.getElementById("submitButton");
          submitButton.style.display = "none"; 
      
          currentQuestionIndex = 0;
        }
      
        function addPlayerInput() {
            playerInputCount++; 

            var playerInputsContainer = document.getElementById("playerInputsContainer");

            var playerInputRow = document.createElement("div");
            playerInputRow.className = "player-input-row";
            playerInputRow.id = "playerInputRow" + playerInputCount;

            var selectInput = document.createElement("select");
            selectInput.id = "playerInput" + playerInputCount;
            selectInput.name = "players[]";

            var defaultOption = document.createElement("option");
            defaultOption.value = "";
            defaultOption.disabled = true;
            defaultOption.selected = true;
            defaultOption.textContent = "Select player";
            selectInput.appendChild(defaultOption);

            var firstSelectInput = document.getElementById("playerInput1");
            var options = firstSelectInput.querySelectorAll("option");
            for (var i = 1; i < options.length; i++) {
                var option = document.createElement("option");
                option.value = options[i].value;
                option.textContent = options[i].textContent;
                selectInput.appendChild(option);
            }

            var allSelectInputs = document.querySelectorAll("select[name='players[]']");
            for (var i = 0; i < allSelectInputs.length; i++) {
                var currentSelectInput = allSelectInputs[i];
                var selectedOption = currentSelectInput.options[currentSelectInput.selectedIndex];
                var selectedPlayer = selectedOption.value;
                var optionToRemove = selectInput.querySelector("option[value='" + selectedPlayer + "']");
                if (optionToRemove) {
                    optionToRemove.remove();
                }
            }

            playerInputRow.appendChild(selectInput);

            var removeButton = document.createElement("button");
            removeButton.type = "button";
            removeButton.className = "remove-player-button";
            removeButton.textContent = "-";
            removeButton.setAttribute("onclick", "removePlayerInput(" + playerInputCount + ")");

            playerInputRow.appendChild(removeButton);

            playerInputsContainer.appendChild(playerInputRow);
        }
      
        function removePlayerInput(inputIndex) {
            var playerInputRow = document.getElementById("playerInputRow" + inputIndex);
            playerInputRow.remove();
        }
      
        function nextQuestion() {
            var resultsQuestion = document.getElementById("resultsQuestion");
            var playerInputsContainer = document.getElementById("playerInputsContainer");

            var playersScoredContainer = document.querySelector(".playersScoredContainer");
            var playersAssistContainer = document.querySelector(".playersAssistContainer");

            var onBenchContainer = document.querySelector(".onBenchContainer");

            var savesInputsContainer = document.querySelector(".saves-input-container");

            var penaltySavedContainer = document.querySelector(".penaltySavedContainer")

            var penaltyMissedContainer = document.querySelector(".penaltyMissedContainer")

            var yellowCardsContainer = document.querySelector(".yellowCardsContainer")

            var redCardsContainer = document.querySelector(".redCardsContainer")

            var ownGoalsContainer = document.querySelector(".ownGoalsContainer")

            var bonusInputsContainer = document.getElementById("bonusInputs");

            var submitButton = document.getElementById("submitButton");
            var scoreInputContainer = document.querySelector(".score-input-container");

            if (currentQuestionIndex === 0) {
                var homeGoalsInput = document.getElementById("homeGoalsInput");
                var awayGoalsInput = document.getElementById("awayGoalsInput");

                if (homeGoalsInput.value === "" || awayGoalsInput.value === "") {
                    alert("Please select both home and away goals.");
                    return;
                }

                homeGoals = parseInt(homeGoalsInput.value);
                awayGoals = parseInt(awayGoalsInput.value);

                scoreInputContainer.style.display = "none";
                resultsQuestion.textContent = questions[currentQuestionIndex + 1];
                playerInputsContainer.style.display = "block";
                submitButton.style.display = "none";
                currentQuestionIndex++;

            } else if (currentQuestionIndex === 1) {
                resultsQuestion.textContent = questions[currentQuestionIndex + 1];
                playerInputsContainer.style.display = "none";
                playersScoredContainer.style.display = "block";
                playersAssistContainer.style.display = "block";
                submitButton.style.display = "none";
                currentQuestionIndex++;
                generatePlayersScoredInputs();
                generatePlayersAssistInputs();

            } else if (currentQuestionIndex === 2) {       
                resultsQuestion.textContent = questions[currentQuestionIndex + 1];
                playersScoredContainer.style.display = "none";
                playersAssistContainer.style.display = "none";
                playerInputsContainer.style.display = "none";
                onBenchContainer.style.display = "block"
                submitButton.style.display = "none";
                currentQuestionIndex++;
                generateOnBenchInputs();

            } else if (currentQuestionIndex === 3) {       
                resultsQuestion.textContent = questions[currentQuestionIndex + 1];
                // playersScoredContainer.style.display = "none";
                // playersAssistContainer.style.display = "none";
                // playerInputsContainer.style.display = "none";
                onBenchContainer.style.display = "none"
                savesInputsContainer.style.display = "block";
                submitButton.style.display = "none";
                currentQuestionIndex++;

            } else if (currentQuestionIndex === 4) {  
                resultsQuestion.textContent = questions[currentQuestionIndex + 1];
                savesInputsContainer.style.display = "none";
                yellowCardsContainer.style.display = "block";
                nextButton.style.display = "block";
                currentQuestionIndex++;
                generateYellowCardsInputs();

            } else if (currentQuestionIndex === 5) {  
                resultsQuestion.textContent = questions[currentQuestionIndex + 1];
                yellowCardsContainer.style.display = "none";
                redCardsContainer.style.display = "block";
                nextButton.style.display = "block";
                currentQuestionIndex++;
                generateRedCardsInputs();

            } else if (currentQuestionIndex === 6) {  
                resultsQuestion.textContent = questions[currentQuestionIndex + 1];
                redCardsContainer.style.display = "none";
                penaltySavedContainer.style.display = "block";
                nextButton.style.display = "block";
                currentQuestionIndex++;
                generatePenaltySavedInputs();

            } else if (currentQuestionIndex === 7) {  
                resultsQuestion.textContent = questions[currentQuestionIndex + 1];
                penaltySavedContainer.style.display = "none";
                penaltyMissedContainer.style.display = "block";
                nextButton.style.display = "block";
                currentQuestionIndex++;
                generatePenaltyMissedInputs();

            } else if (currentQuestionIndex === 8) {  
                resultsQuestion.textContent = questions[currentQuestionIndex + 1];
                penaltyMissedContainer.style.display = "none";
                ownGoalsContainer.style.display = "block";
                nextButton.style.display = "block";
                currentQuestionIndex++;
                generateOwnGoalsInputs();

            } else if (currentQuestionIndex === 9) {

                var savesInput = document.getElementById("savesInput");

                if (savesInput.value === "") {
                    alert("Please select the number of saves.");
                    return;  // If they haven't selected saves, we stop here.
                }
                resultsQuestion.textContent = questions[currentQuestionIndex + 1];
                ownGoalsContainer.style.display = "none";
                bonusInputsContainer.style.display = "block";
                document.querySelector(".bonusContainer").style.display = "block";
                nextButton.style.display = "none"; 
                submitButton.style.display = "inline-block";
                currentQuestionIndex++;
                generateBonusInputs();
            }
        }


        function generatePlayersScoredInputs() {
            var playersScoredInputs = document.getElementById("playersScoredInputs");
            playersScoredInputs.innerHTML = "";

            for (var i = 1; i <= homeGoals; i++) {
                var playerInputContainer = document.createElement("div");
                playerInputContainer.className = "player-input-container";

                var playerScoredInput = document.createElement("div");
                playerScoredInput.className = "player-scored-input";

                var labelGoal = document.createElement("label");
                labelGoal.textContent = "Goal " + i + ": ";

                var selectScoredInput = document.createElement("select");
                selectScoredInput.id = "playerScoredInput" + i;
                selectScoredInput.name = "playersScored[]";

                var playerInputs = document.querySelectorAll("[id^=playerInput] option:checked");

                var optionNone = document.createElement("option");
                optionNone.value = "none";
                optionNone.textContent = "None";
                selectScoredInput.appendChild(optionNone);

                for (var j = 0; j < playerInputs.length; j++) {
                    var optionScored = document.createElement("option");
                    optionScored.value = playerInputs[j].value;
                    optionScored.textContent = playerInputs[j].textContent;
                    selectScoredInput.appendChild(optionScored);
                }

                playerScoredInput.appendChild(labelGoal);
                playerScoredInput.appendChild(selectScoredInput);
                playerInputContainer.appendChild(playerScoredInput);
                playersScoredInputs.appendChild(playerInputContainer);
            }
        }


        function generatePlayersAssistInputs() {
            var playersAssistInputs = document.getElementById("playersAssistInputs");
            playersAssistInputs.innerHTML = "";

            for (var i = 1; i <= homeGoals; i++) {generatePlayersAssistInputs
                var playerInputContainer = document.createElement("div");
                playerInputContainer.className = "player-input-container";

                var playerAssistInput = document.createElement("div");
                playerAssistInput.className = "player-assist-input";

                var labelAssist = document.createElement("label");
                labelAssist.textContent = "Assist " + i + ": ";

                var selectAssistInput = document.createElement("select");
                selectAssistInput.id = "playerAssistInput" + i;
                selectAssistInput.name = "playersAssist[]";

                var playerInputs = document.querySelectorAll("[id^=playerInput] option:checked");

                var optionNone = document.createElement("option");
                optionNone.value = "none";
                optionNone.textContent = "None";
                selectAssistInput.appendChild(optionNone);

                for (var j = 0; j < playerInputs.length; j++) {
                    var optionAssist = document.createElement("option");
                    optionAssist.value = playerInputs[j].value;
                    optionAssist.textContent = playerInputs[j].textContent;
                    selectAssistInput.appendChild(optionAssist);
                }

                playerAssistInput.appendChild(labelAssist);
                playerAssistInput.appendChild(selectAssistInput);
                playerInputContainer.appendChild(playerAssistInput);
                playersAssistInputs.appendChild(playerInputContainer);
            }
        }

        var onBenchData = {};
        
        function generateOnBenchInputs() {
            var onBenchInputs = document.getElementById("onBenchInputs");
            onBenchInputs.innerHTML = "";

            var playerInputs = document.querySelectorAll("[id^=playerInput] option:checked");
            console.log(playerInputs)
            console.log(awayGoals)
            var dropdownsPerRow = playerInputs.length - 7;

            for (var i = 1; i <= awayGoals; i++) {
                var benchDataForGoal = []; // Temporary list for this goal's dropdowns

                for (var j = 1; j <= dropdownsPerRow; j++) {
                    var playerInputContainer = document.createElement("div");
                    playerInputContainer.className = "player-input-container";

                    var benchInput = document.createElement("div");
                    benchInput.className = "bench-input";

                    var labelOnBench = document.createElement("label");
                    labelOnBench.textContent = "Bench " + j + " for Goal " + i + ": ";

                    var selectOnBenchInput = document.createElement("select");
                    selectOnBenchInput.id = "benchInput" + i + "_" + j;
                    selectOnBenchInput.name = "onBenchForGoal" + i + "[]";

                    var optionNone = document.createElement("option");
                    optionNone.value = "none";
                    optionNone.textContent = "None";
                    selectOnBenchInput.appendChild(optionNone);

                    playerInputs.forEach(function(playerInput) {
                        var optionOnBench = document.createElement("option");
                        optionOnBench.value = playerInput.value;
                        optionOnBench.textContent = playerInput.textContent;
                        selectOnBenchInput.appendChild(optionOnBench);
                    });

                    benchInput.appendChild(labelOnBench);
                    benchInput.appendChild(selectOnBenchInput);
                    playerInputContainer.appendChild(benchInput);
                    
                    // Append the container to the DOM
                    onBenchInputs.appendChild(playerInputContainer);

                    benchDataForGoal.push(selectOnBenchInput); // Adding this dropdown to our list
                }

                onBenchData["Goal " + i] = benchDataForGoal; // Storing our list in the dictionary
            }
            console.log(onBenchData);
        }





        function generateBonusInputs() {
            var bonusInputsContainer = document.getElementById("bonusInputs");
            bonusInputsContainer.innerHTML = "";

            for (var i = 3; i >= 1; i--) {
                var playerInputContainer = document.createElement("div");
                playerInputContainer.className = "player-input-container";

                var bonusInput = document.createElement("div");
                bonusInput.className = "bonus-input";

                var labelBonus = document.createElement("label");
                labelBonus.textContent = i + " Bonus: ";

                var selectBonusInput = document.createElement("select");
                selectBonusInput.id = "bonusInput" + i;
                selectBonusInput.name = "bonus[]";

                var playerInputs = document.querySelectorAll("[id^=playerInput] option:checked");
                for (var j = 0; j < playerInputs.length; j++) {
                    var optionBonus = document.createElement("option");
                    optionBonus.value = playerInputs[j].value;
                    optionBonus.textContent = playerInputs[j].textContent;
                    selectBonusInput.appendChild(optionBonus);
                }

                bonusInput.appendChild(labelBonus);
                bonusInput.appendChild(selectBonusInput);
                playerInputContainer.appendChild(bonusInput);
                bonusInputsContainer.appendChild(playerInputContainer);
            }
        }

        function generatePenaltySavedInputs() {
            var penaltySavedInputsList = document.querySelectorAll(".penaltySavedInputs");

            penaltySavedInputsList.forEach(penaltySavedInputs => {
                penaltySavedInputs.innerHTML = "";

                var playerInputContainer = document.createElement("div");
                playerInputContainer.className = "player-input-container";

                var playerPenaltySavedInput = document.createElement("div");
                playerPenaltySavedInput.className = "player-penalty-saved-input";

                var labelPenaltySaved = document.createElement("label");
                labelPenaltySaved.textContent = "YPenalty Saved: ";

                var selectPenaltySavedInput = document.createElement("select");
                selectPenaltySavedInput.name = "penaltySaved[]"; 

                var playerInputs = document.querySelectorAll("[id^=playerInput] option:checked");

                var optionNone = document.createElement("option");
                optionNone.value = "none";
                optionNone.textContent = "None";
                selectPenaltySavedInput.appendChild(optionNone);

                for (var j = 0; j < playerInputs.length; j++) {
                    var optionPenaltySaved = document.createElement("option");
                    optionPenaltySaved.value = playerInputs[j].value;
                    optionPenaltySaved.textContent = playerInputs[j].textContent;
                    selectPenaltySavedInput.appendChild(optionPenaltySaved);
                }

                playerPenaltySavedInput.appendChild(labelPenaltySaved);
                playerPenaltySavedInput.appendChild(selectPenaltySavedInput);
                playerInputContainer.appendChild(playerPenaltySavedInput);
                penaltySavedInputs.appendChild(playerInputContainer);
            });
        }

        function generatePenaltyMissedInputs() {
            var penaltyMissedInputsList = document.querySelectorAll(".penaltyMissedInputs");

            penaltyMissedInputsList.forEach(penaltyMissedInputs => {
                penaltyMissedInputs.innerHTML = "";

                var playerInputContainer = document.createElement("div");
                playerInputContainer.className = "player-input-container";

                var playerPenaltyMissedInput = document.createElement("div");
                playerPenaltyMissedInput.className = "player-penalty-Missed-input";

                var labelPenaltyMissed = document.createElement("label");
                labelPenaltyMissed.textContent = "YPenalty Missed: ";

                var selectPenaltyMissedInput = document.createElement("select");
                selectPenaltyMissedInput.name = "penaltyMissed[]"; 

                var playerInputs = document.querySelectorAll("[id^=playerInput] option:checked");

                var optionNone = document.createElement("option");
                optionNone.value = "none";
                optionNone.textContent = "None";
                selectPenaltyMissedInput.appendChild(optionNone);

                for (var j = 0; j < playerInputs.length; j++) {
                    var optionPenaltyMissed = document.createElement("option");
                    optionPenaltyMissed.value = playerInputs[j].value;
                    optionPenaltyMissed.textContent = playerInputs[j].textContent;
                    selectPenaltyMissedInput.appendChild(optionPenaltyMissed);
                }

                playerPenaltyMissedInput.appendChild(labelPenaltyMissed);
                playerPenaltyMissedInput.appendChild(selectPenaltyMissedInput);
                playerInputContainer.appendChild(playerPenaltyMissedInput);
                penaltyMissedInputs.appendChild(playerInputContainer);
            });
        }

        function generateYellowCardsInputs() {
            var yellowCardsInputsList = document.querySelectorAll(".yellowCardsInputs");

            yellowCardsInputsList.forEach(yellowCardsInputs => {
                yellowCardsInputs.innerHTML = "";

                var playerInputContainer = document.createElement("div");
                playerInputContainer.className = "player-input-container";

                var playerYellowCardInput = document.createElement("div");
                playerYellowCardInput.className = "player-yellow-card-input";

                var labelYellowCard = document.createElement("label");
                labelYellowCard.textContent = "Yellow Card: ";

                var selectYellowCardInput = document.createElement("select");
                selectYellowCardInput.name = "yellowCards[]"; 

                var playerInputs = document.querySelectorAll("[id^=playerInput] option:checked");

                var optionNone = document.createElement("option");
                optionNone.value = "none";
                optionNone.textContent = "None";
                selectYellowCardInput.appendChild(optionNone);

                for (var j = 0; j < playerInputs.length; j++) {
                    var optionYellowCard = document.createElement("option");
                    optionYellowCard.value = playerInputs[j].value;
                    optionYellowCard.textContent = playerInputs[j].textContent;
                    selectYellowCardInput.appendChild(optionYellowCard);
                }

                playerYellowCardInput.appendChild(labelYellowCard);
                playerYellowCardInput.appendChild(selectYellowCardInput);
                playerInputContainer.appendChild(playerYellowCardInput);
                yellowCardsInputs.appendChild(playerInputContainer);
            });
        }

        function generateRedCardsInputs() {
            var redCardsInputsList = document.querySelectorAll(".redCardsInputs");

            redCardsInputsList.forEach(redCardsInputs => {
                redCardsInputs.innerHTML = "";

                var playerInputContainer = document.createElement("div");
                playerInputContainer.className = "player-input-container";

                var playerRedCardInput = document.createElement("div");
                playerRedCardInput.className = "player-red-card-input";

                var labelRedCard = document.createElement("label");
                labelRedCard.textContent = "Red Card: ";

                var selectRedCardInput = document.createElement("select");
                selectRedCardInput.name = "redCards[]"; 

                var playerInputs = document.querySelectorAll("[id^=playerInput] option:checked");

                var optionNone = document.createElement("option");
                optionNone.value = "none";
                optionNone.textContent = "None";
                selectRedCardInput.appendChild(optionNone);

                for (var j = 0; j < playerInputs.length; j++) {
                    var optionRedCard = document.createElement("option");
                    optionRedCard.value = playerInputs[j].value;
                    optionRedCard.textContent = playerInputs[j].textContent;
                    selectRedCardInput.appendChild(optionRedCard);
                }

                playerRedCardInput.appendChild(labelRedCard);
                playerRedCardInput.appendChild(selectRedCardInput);
                playerInputContainer.appendChild(playerRedCardInput);
                redCardsInputs.appendChild(playerInputContainer);
            });
        }

        function generateOwnGoalsInputs() {
            var ownGoalsInputsList = document.querySelectorAll(".ownGoalsInputs");

            ownGoalsInputsList.forEach(ownGoalsInputs => {
                ownGoalsInputs.innerHTML = "";

                var playerInputContainer = document.createElement("div");
                playerInputContainer.className = "player-input-container";

                var playerOwnGoalInput = document.createElement("div");
                playerOwnGoalInput.className = "player-own-goals-input";

                var labelOwnGoal = document.createElement("label");
                labelOwnGoal.textContent = "Own Goals: ";

                var selectOwnGoalInput = document.createElement("select");
                selectOwnGoalInput.name = "ownGoals[]"; 

                var playerInputs = document.querySelectorAll("[id^=playerInput] option:checked");

                var optionNone = document.createElement("option");
                optionNone.value = "none";
                optionNone.textContent = "None";
                selectOwnGoalInput.appendChild(optionNone);

                for (var j = 0; j < playerInputs.length; j++) {
                    var optionOwnGoal = document.createElement("option");
                    optionOwnGoal.value = playerInputs[j].value;
                    optionOwnGoal.textContent = playerInputs[j].textContent;
                    selectOwnGoalInput.appendChild(optionOwnGoal);
                }

                playerOwnGoalInput.appendChild(labelOwnGoal);
                playerOwnGoalInput.appendChild(selectOwnGoalInput);
                playerInputContainer.appendChild(playerOwnGoalInput);
                ownGoalsInputs.appendChild(playerInputContainer);
            });
        }


        function handlePlayerChange(selectInput) {
            var selectedOption = selectInput.options[selectInput.selectedIndex];
            var selectedPlayer = selectedOption.value;

            var allSelectInputs = document.querySelectorAll("select[name='players[]']");
            for (var i = 0; i < allSelectInputs.length; i++) {
                var currentSelectInput = allSelectInputs[i];
                if (currentSelectInput.id !== selectInput.id) {
                    var options = currentSelectInput.querySelectorAll("option");
                    for (var j = 0; j < options.length; j++) {
                        var option = options[j];
                        if (option.value === selectedPlayer) {
                            option.remove();
                        }
                    }
                }
            }
        }


        function showInjuryPopup() {
            var confirmationPopup = document.getElementById("injuryPopup");
            confirmationPopup.style.display = "block";
        }

        function hideInjuryPopup() {
            var confirmationPopup = document.getElementById("injuryPopup");
            confirmationPopup.style.display = "none";
        }


        function addInjuries() {
            // Get values from the HTML form
            var player = document.getElementById('playerInput5').value;
            const injury_type = document.getElementById('injury_type').value;
            const injury_colour = document.getElementById('injury_colour').value;
            const return_date = document.getElementById('return_date').value;

            // Create a new form programmatically
            var form = document.createElement("form");
            form.method = "POST";
            form.action = "/add_next_injury?teamName={{ team_name }}&nextGW={{ next_gw }}";

            // Add player input to the form
            var playerInput = document.createElement("input");
            playerInput.type = "hidden";
            playerInput.name = "player";
            playerInput.value = player;
            form.appendChild(playerInput);

            // Add injury type input to the form
            var injuryTypeInput = document.createElement("input");
            injuryTypeInput.type = "hidden";
            injuryTypeInput.name = "injury_type";
            injuryTypeInput.value = injury_type;
            form.appendChild(injuryTypeInput);

            // Add injury colour/severity input to the form
            var injuryColourInput = document.createElement("input");
            injuryColourInput.type = "hidden";
            injuryColourInput.name = "injury_colour";
            injuryColourInput.value = injury_colour;
            form.appendChild(injuryColourInput);

            // Add return date input to the form
            var returnDateInput = document.createElement("input");
            returnDateInput.type = "hidden";
            returnDateInput.name = "return_date";
            returnDateInput.value = return_date;
            form.appendChild(returnDateInput);

            // Add a submit button to the form
            var button = document.createElement("button");
            button.type = "submit";
            button.textContent = "Add Injury";
            form.appendChild(button);

            // Append the form to the body and submit it
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</body>
</html>
