<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rules</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #428bca, #00ffd5);
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .section {
            margin: 20px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
        }
        

        h1 {
            text-align: center;
            margin-top: 30px;
            color: rgb(255, 255, 255);
            
        }

        h2 {
            border-bottom: 2px solid #333;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

        .points-allocation li {
            margin-bottom: 8px; 
        }

        a {
            display: block;
            text-align: center;
            color: #ffffff;
            text-decoration: none;
            margin-top: 20px;
        }

    </style>
</head>
<body>

<h1>Rules and Scoring</h1>

<div class="section">
    <h2>Transfers</h2>
    
    <h3>Team Composition & Budget</h3>
    <ul>
        <li>You have a budget of <strong>40 million</strong> to assemble your team.</li>
        <li>Your team must consist of:
            <ul>
                <li><strong>1 Goalkeeper</strong></li>
                <li><strong>2 Defenders</strong></li>
                <li><strong>2 Midfielders</strong></li>
                <li><strong>1 Forward</strong></li>
            </ul>
        </li>
        <li>All player prices are final for the season. There are no price changes.</li>
    </ul>
    
    <h3>Transfer Rules</h3>
    <ul>
        <li>Before the Gameweek 1 Deadline you will have unlimited transfers</li>
        <li>After the Gameweek 1 Deadline, you are entitled to <strong>1 free transfer</strong> every week.</li>
        <li>Unused transfers can be rolled over to the next week, with a maximum stack of <strong>2 transfers</strong>.</li>
        <li>Additional transfers beyond your free ones or stacked ones will incur a <strong>-4 point penalty</strong> for each transfer.</li>
        <li>There is will be no wildcard chip available for use.</li>
    </ul>
</div>



<div class="section">
    <h2>Scoring</h2>
    
    <h3>Team Selection & Formation</h3>
    <ul>
        <li>You <strong>MUST</strong> start any 5 out of your 6 players each week.</li>
        <li>The 6th player will be benched and won't earn points.</li>
        <li>You cannot bench your Goalkeeper.</li>
        <li>Only players in the starting lineup will score points.</li>
        <li>Your captain's points will be <strong>doubled (x2)</strong>.</li>
        <li>This can all be changed in the Pick Team screen by pressing on the player's icons.</li>
    </ul>
    
    <h3>Points Allocation</h3>
    <ul class="points-allocation">
        <li><strong>Appearance:</strong> 2 points</li>
        <li><strong>Goal:</strong>
            <ul>
                <li>Forward: 4 points</li>
                <li>Midfielder: 5 points</li>
                <li>Defender or Goalkeeper: 6 points</li>
            </ul>
        </li>
        <li><strong>Assist:</strong> 3 points</li>
        <li><strong>Clean Sheet:</strong>
            <ul>
                <li>Defender or Goalkeeper: 4 points</li>
                <li>Midfielder: 1 point</li>
            </ul>
        </li>
        <li><strong>Every 2 saves by Goalkeeper:</strong> 1 point</li>
        <li><strong>Bonus Points:</strong>
            <ul>
                <li>Top performer: 3 points</li>
                <li>Second best: 2 points</li>
                <li>Third best: 1 point</li>
            </ul>
        </li>
        <li><strong>Every 2 goals conceded by defenders or goalkeepers:</strong> -1 point</li>
        <li><strong>Penalty Save:</strong> 5 points</li>
        <li><strong>Penalty Miss:</strong> -2 points</li>
        <li><strong>Yellow Card:</strong> -1 point</li>
        <li><strong>Red Card:</strong> -3 points</li>
        <li><strong>Own Goal:</strong> -2 points</li>
    </ul>
</div>

<div class="section">
    <h2>Use of Chips</h2>
    
    <h3>Overview of Chips</h3>
    <ul>
        <li>Chips are special game elements designed to enhance player engagement and introduce additional strategic layers to the game. Players have access to three unique chips, each with its distinct impact on gameplay:</li>
            <ul>
                <li><strong>Wildcard</strong>
                <li><strong>Triple Captain</strong>
                <li><strong>Bench Boost</strong>
            </ul>
        <li>You will be asked for confirmation before activating a chip</li>
        <li>Once a chip is activated, it will remain in effect for that Gameweek and is final and cannot be undone.</li>
        <li>Each chip can be utilized only once per season. Once activated, the effect of the chip is irreversible and cannot be undone for the remainder of the season.</li>
    </ul>

    <h3>Chip Details</h3>
    <ul>
        <li><strong>Wildcard:</strong>
            <ul>
                <li>Allows for unlimited transfers in a single Gameweek without any point penalties.</li>
                <li>Must be used in the same Gameweek once activated.</li>
            </ul>
        </li>
        <li><strong>Triple Captain:</strong>
            <ul>
                <li>Enables players to triple the points scored by their nominated captain for a single Gameweek.</li>
                <li>Replaces the standard double points awarded to a captain.</li>
            </ul>
        </li>
        <li><strong>Bench Boost:</strong>
            <ul>
                <li>Allows all 6 players in a squad to score points in a single Gameweek.</li>
                <li>Beneficial as typically only 5 players’ scores are counted, with the remaining four left on the bench.</li>
            </ul>
        </li>
    </ul>
    
</div>


<div class="section">
    <h2>Other Screens</h2>

    <h3>Gameweek Points</h3>
    <ul>
        <li>Once the Gameweek 1 deadline has passed, you can press your points on the homescreen to view your points for Gameweek 1</li>
        <li>The Gameweek deadline will be passed 1 hour before kickoff on Monday night</li>
        <li>Scores and leaderboards will be updated Monday night after the match has been played</li>
        <li>Use the arrows to scroll through and view your scores in previous gameweeks</li>
    </ul>
    
    <h3>Player Statistics</h3>
    <ul>
        <li>Explore the Player Statistics screen to get insights into our team's performance.</li>
        <li>You can toggle to view FPL points, Goals and Assists</li>
        <li>Tap on any player to view breakdown of their performance every gameweek.</li>
    </ul>

    <h3>Fixtures and Results</h3>
    <ul>
        <li>Visit Fixtures and Results to view past scores and upcoming fixtures.</li>
        <li>Click on any game to see the lineup and points scored</li>
        <li>Press each icon in the Team of the Week page to see a more detailed breakdown.</li>
        <li>Press the 'i' icon to see an overall breakdown of points allocation for that game.</li>
    </ul>

    <h3>FPL Leaderboard</h3>
    <ul>
        <li>The FPL Leaderboard showcases your position amidst the competition.</li>
        <li>You can view other teams or scroll through and review gameweek histories.</li>
    </ul>
</div>



<div class="section">
    <h2>Planned Updates</h2>
    <ul>
        <li><strong>Auto Subs:</strong> In case your selected players don't play, the system will automatically substitute them with players from your bench.</li>
        <li><strong>Vice Captain:</strong> Nominate a vice captain who will act as your captain if your primary captain doesn't play.</li>
        <li><strong>Password Protection:</strong> I probably should add this at some point, so please don't sign into anyone else's team</li>
    </ul>
</div>

<a href="/team_management/{{ team_name }}">Return to Home</a>
<br>
</body>